<tr>
    <th scope="col">{{firstName}}</th>
    <th scope="col">{{address}}</th>
    <th scope="col">{{phoneNum}}</th>
    {{#if isCreator}}
        <th scope="col"><a href="/edit/{{id}}">edit </a></th>
        <th scope="col"><a href="/delete/{{id}}">delete</a></th>
    {{/if}}
</tr>